html, body {
    height: 100%;
    background: #6441a4;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: normal;
    color: white;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

