@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";


html, body {
    height: 100%;
    background: #6441a4;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: normal;
    color: white;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

button.btn-lg {
    cursor: pointer;
    padding: 16px 16px;
    border-radius: 5px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

button.transparent {
    background: transparent;
    border: 2px solid $gray-700;
    color: $gray-700;
    &:hover {
        color: darken($gray-700, 50);
        border: 2px solid darken($gray-700, 50);
    }
}

.form-group {
    label {
        font-size: 20px;
        font-weight: 500;
    }
    input {
        margin-bottom: 10px;
        border: 2px solid transparent;
        &:focus {
            border: 2px solid;
        }
    }
}
