@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";


html, body {
    height: 100%;
    background: #6441a4;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: normal;
    color: white;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}
